@model SistemaWeb.Contexto.exportarcion

@{
    ViewBag.Title = "Eliminar";
}

    <h3>Esta seguro de eliminar el registro?</h3>
    <div>
        
        <dl class="dl-horizontal">
            <dt>
               Inss
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.inss)
            </dd>
    
            <dt>
               Grupo
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.grupo)
            </dd>
    
            <dt>
                Total estudiante
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.total_estudiante)
            </dd>
    
            <dt>
               Año
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ano)
            </dd>
    
            <dt>
                Semestre
            </dt>
    
            <dd>
               @Html.DisplayFor(model => model.semestre)
            </dd>
    
            <dt>
               Grupo teorico
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.grupo_teorico)
            </dd>
    
            <dt>
                Grupo practico
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.grupo_practico)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                
            </div>
        }
    </div>

